<!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">Why Choose 365 Tax Experts?</h2>
            <p class="intro text-center">365TaxExperts guarantees you get the maximum tax refund. We are committed to delivering high quality, personalized services with professional integrity. </p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-fighter-jet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Fast & Maximum</h3>
                        <p>We guarantee you will receive the maximum refund you are entitled with no compromised.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">No Up-Front Fees</h3>
                        <p>Conveniently get your refund and pay no tax preparation fees up front. It's a convenient way to get your refund.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-calculator"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Accurate Guaranteed</h3>
                        <p>Our calculations are 100% accurate and your taxes will be done right. We guarantee the calculations on your return are 100% correct. </p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Find Every Deduction</h3>
                        <p>365TaxExperts helps you find every deduction and credit you deserve to help you get your maximum tax refund.</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-smile-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">100% Satisfaction</h3>
                        <p>Customers are always 100% satisfied or you will receive a full refund upon contacting us.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Tax Specialist</h3>
                        <p>Call one of our experienced tax experts today at 561-336-1503 or send us a message below.</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->