    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
                <p class="intro  text-center">Feel free to get in touch if you have any questions. <br />
                Call us at <strong>617-331-4027</strong> or emails us at <a href="mailto: 365taxexperts@gmail.com?Subject=Contact%20Form">365taxexperts@gmail.com</a></p>
                <div class="author-message">                      
                    
                    <div class="speech-bubble">
                        <form class="form-horizontal" action="//formspree.io/365taxexperts@gmail.com" method="post">
                          <fieldset>                           
                    
                            <!-- Name input-->
                            <div class="form-group">
                              <label class="col-md-3 control-label" for="name">Name</label>
                              <div class="col-md-9">
                                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                              </div>
                            </div>
                    
                            <!-- Email input-->
                            <div class="form-group">
                              <label class="col-md-3 control-label" for="email">Your E-mail</label>
                              <div class="col-md-9">
                                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                              </div>
                            </div>
                    
                            <!-- Message body -->
                            <div class="form-group">
                              <label class="col-md-3 control-label" for="message">Your message</label>
                              <div class="col-md-9">
                                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                              </div>
                            </div>
                    
                            <!-- Form actions -->
                            <div class="form-group">
                              <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                              </div>
                            </div>
                          </fieldset>
                      </form>
                    </div><!--//speech-bubble-->                        
                </div><!--//author-message-->
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Get Connected</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/365taxexperts" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/365taxexperts" target="_blank"><i class="fa fa-facebook"></i></a></li>                        
                        <li class="last"><a href="mailto: 365taxexperts@gmail.com"><i class="fa fa-envelope"></i></a></li>              
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
