<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>365 Tax Expert</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Responsive View Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon.ico -->
    <link rel="icon" href="favicon.ico?v=2" type="image/x-icon">

    <!-- Font Aewsome Style -->
    <link rel="stylesheet" href="{{ "css/font-awesome.min.css" | prepend: site.baseurl }}">

	<!-- Fullscreen Background Slider -->
    <link href="{{ "css/jquery.maximage.min.css" rel="stylesheet" | prepend: site.baseurl }}">
    
    <!-- Bootstrap Style -->
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Reset Style -->
    <link rel="stylesheet" href="{{ "css/normalize.css" | prepend: site.baseurl }}">

    <!-- Main Style -->
    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
      
    <link href="{{ "css/colors/red-2.css" rel="stylesheet" | prepend: site.baseurl }}">
    <link href="{{ "css/colors/default-color.css" rel="stylesheet" | prepend: site.baseurl }}"><!-- alternate style end -->

    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
