    <!-- ******LICENSE****** --> 
    <section id="refer" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">Testimonials</h2>
                
                <div class="cta-container">
                    <div class="speech-bubble">
                        <div class="slider">                    
                            <div>I had a wonderful experience working with 365TaxExperts and highly recommend them for anyone who needs to use ex-pat tax services.
                                <span class="revname"><p>Natalie, Boyton Beach, FL</p></span>
                            </div>
                            
                            <div>An excellent experience, from start to finish. Roger was unbelievably professional and courteous. See you next year guys.
                                <span class="revname"><p>Michelle B., Lake Worth, FL</p></span>
                            </div>

                            <div>This was my first time filing tax with 365TaxExperets. They are efficient, knowledgeable and most importantly kind. I recommend 365TaxExperets.
                                <span class="revname"><p>Bryan G., Fort Lauderdale, FL</p></span>
                            </div>

                            <div>The guys at 365TaxExperts did an awesome job of completing the returns. They were super responsive, professional and thorough. I was always in good hands.
                                <span class="revname"><p>Jedd, West Palm Beach, FL</p></span>
                            </div>

                        </div>
                        
                    </div><!--//speech-bubble-->
                    
                </div><!--//cta-container-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
