    <!-- ******LICENSE****** --> 
    <section id="refer" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">Refer a friend</h2>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                </div><!--//info-->
                <div class="cta-container">
                    <div class="speech-bubble">                    
                        <p class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                        
                    </div><!--//speech-bubble-->
                    
                </div><!--//cta-container-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
