    <!-- ******LICENSE****** --> 
    <section id="refer" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">Testimonials</h2>
                
                <div class="cta-container">
                    <div class="speech-bubble">
                        <div class="slider">                    
                            <div>content #1</div>
                            <div>content #2</div>
                        </div>
                        
                    </div><!--//speech-bubble-->
                    
                </div><!--//cta-container-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
