<!DOCTYPE html>
<html>

  {% include head.html %}

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width" id="u1792-bw">
     <div class="pinned-colelem" id="u1792"><!-- simple frame --></div>
    </div>
    <a class="anchor_item colelem" id="welcome"></a>
    <div class="clip_frame pinned-colelem" id="u2227"><!-- image -->
     <img class="block" id="u2227_img" src="images/logo-tax-service.png" alt="" width="67" height="42"/>
    </div>
    <nav class="MenuBar clearfix pinned-colelem" id="menuu1929"><!-- horizontal box -->
     <div class="MenuItemContainer clearfix grpelem" id="u1965"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u1968" href="index.html#welcome"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u1971-4"><!-- content --><p>Home</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u1944"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u1945" href="index.html#service"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u1947-4"><!-- content --><p>Services</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u1937"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u1938" href="index.html#about"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u1940-4"><!-- content --><p>About Us</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u2137"><!-- vertical box -->
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u2140" href="index.html#contact"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u2143-4"><!-- content --><p>Contact</p></div></a>
     </div>
     <div class="MenuItemContainer clearfix grpelem" id="u2691"><!-- vertical box -->
      <div class="MenuItemLabel NoWrap clearfix grpelem" id="u2693-4"><!-- content --><p>617-331-4027</p></div>
     </div>
    
    </nav>
    <div class="clearfix pinned-colelem" id="u206-5"><!-- content -->
     <p><span id="u206-2">365</span><span id="u206">TAX</span><span id="u206-2">EXPERT</span></p>
    </div>
    <div class="clearfix colelem" id="pu75"><!-- group -->
     <div class="browser_width grpelem" id="u75-bw">
      <div class="museBGSize" id="u75"><!-- simple frame --></div>
     </div>
     <div class="clearfix grpelem" id="u2187"><!-- column -->
      <div class="position_content" id="u2187_position_content">
       <div class="clip_frame colelem" id="u2447"><!-- image -->
        <img class="block" id="u2447_img" src="images/icon_feature01.png" alt="" width="95" height="95"/>
       </div>
       <div class="clearfix colelem" id="u2979-4"><!-- content -->
        <p>FAST &amp; MAXIMUM</p>
       </div>
       <div class="clearfix colelem" id="u2427-4"><!-- content -->
        <p id="u2427-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u2189"><!-- column -->
      <div class="position_content" id="u2189_position_content">
       <div class="clip_frame colelem" id="u2453"><!-- image -->
        <img class="block" id="u2453_img" src="images/icon_feature02.png" alt="" width="95" height="95"/>
       </div>
       <div class="clearfix colelem" id="u2981-4"><!-- content -->
        <p>NO UP&#45;FRONT FEES</p>
       </div>
       <div class="clearfix colelem" id="u2429-4"><!-- content -->
        <p id="u2429-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut dolore.</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u2191"><!-- column -->
      <div class="clip_frame colelem" id="u2459"><!-- image -->
       <img class="block" id="u2459_img" src="images/icon_feature03.png" alt="" width="95" height="95"/>
      </div>
      <div class="clearfix colelem" id="u2983-4"><!-- content -->
       <p>100% GUARANTEED</p>
      </div>
      <div class="clearfix colelem" id="u2430-4"><!-- content -->
       <p id="u2430-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
      </div>
     </div>
     <div class="PamphletWidget clearfix grpelem" id="pamphletu2396"><!-- none box -->
      <div class="ThumbGroup clearfix grpelem" id="u2407"><!-- none box -->
       <div class="popup_anchor">
        <div class="Thumb popup_element rounded-corners" id="u2410"><!-- simple frame --></div>
       </div>
       <div class="popup_anchor">
        <div class="Thumb popup_element rounded-corners" id="u2411"><!-- simple frame --></div>
       </div>
       <div class="popup_anchor">
        <div class="Thumb popup_element rounded-corners" id="u2413"><!-- simple frame --></div>
       </div>
      </div>
      <div class="popup_anchor" id="u2397popup">
       <div class="ContainerGroup clearfix" id="u2397"><!-- stack box -->
        <div class="Container clearfix grpelem" id="u2400"><!-- column -->
         <div class="clearfix colelem" id="u2415-4"><!-- content -->
          <p>Maximum Tax Refunds in a Simple Way</p>
         </div>
         <div class="clearfix colelem" id="u2416-4"><!-- content -->
          <p>Fast &amp; Accurate &amp; Affordable</p>
         </div>
        </div>
        <div class="Container invi clearfix grpelem" id="u2412"><!-- column -->
         <div class="clearfix colelem" id="u2419-4"><!-- content -->
          <p>Instant Live Help from Tax Professionals</p>
         </div>
         <div class="clearfix colelem" id="u2420-4"><!-- content -->
          <p>Get Your Tax Resolution Now!</p>
         </div>
        </div>
        <div class="Container invi clearfix grpelem" id="u2414"><!-- column -->
         <div class="clearfix colelem" id="u2421-4"><!-- content -->
          <p>100% Guaranteed, NO Up&#45;front Fees</p>
         </div>
         <div class="clearfix colelem" id="u2422-4"><!-- content -->
          <p>Your maximum tax, your best way.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u2444"><!-- group -->
      <div class="pointer_cursor clearfix grpelem" id="u2442"><!-- group -->
       <a class="block anim_swing" href="index.html#consultation"></a>
       <a class="nonblock nontext anim_swing clearfix grpelem" id="u2443-4" href="index.html#consultation"><!-- content --><p>GET A FREE CONSULTATION</p></a>
      </div>
     </div>
    </div>
    <div class="PamphletWidget clearfix colelem" id="pamphletu5663"><!-- none box -->
     <div class="ThumbGroup clearfix grpelem" id="u5717"><!-- none box -->
      <div class="popup_anchor">
       <div class="Thumb popup_element rounded-corners" id="u5720"><!-- simple frame --></div>
      </div>
      <div class="popup_anchor">
       <div class="Thumb popup_element rounded-corners" id="u5718"><!-- simple frame --></div>
      </div>
      <div class="popup_anchor">
       <div class="Thumb popup_element rounded-corners" id="u5719"><!-- simple frame --></div>
      </div>
     </div>
     <div class="popup_anchor" id="u5664popup">
      <div class="ContainerGroup clearfix" id="u5664"><!-- stack box -->
       <div class="Container clearfix grpelem" id="u5665"><!-- group -->
        <div class="clearfix grpelem" id="ppu5668"><!-- column -->
         <div class="clearfix colelem" id="pu5668"><!-- group -->
          <div class="clip_frame grpelem" id="u5668"><!-- image -->
           <img class="block" id="u5668_img" src="images/badge03_blue.png" alt="" width="150" height="150"/>
          </div>
          <div class="clearfix grpelem" id="u5680-8"><!-- content -->
           <p id="u5680-2">ACCURACY</p>
           <p id="u5680-4">100%</p>
           <p id="u5680-6">GUARANTEED</p>
          </div>
         </div>
         <div class="clearfix colelem" id="u5672-6"><!-- content -->
          <p>Calculation Accuracy</p>
          <p>100% Guaranteed</p>
         </div>
         <div class="clearfix colelem" id="u5678-4"><!-- content -->
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
         </div>
        </div>
        <div class="clearfix grpelem" id="ppu5666"><!-- column -->
         <div class="clearfix colelem" id="pu5666"><!-- group -->
          <div class="clip_frame grpelem" id="u5666"><!-- image -->
           <img class="block" id="u5666_img" src="images/badge03_green.png" alt="" width="150" height="150"/>
          </div>
          <div class="clearfix grpelem" id="u5671-8"><!-- content -->
           <p id="u5671-2">CLIENTS</p>
           <p id="u5671-4">100%</p>
           <p id="u5671-6">SATISFACTION</p>
          </div>
         </div>
         <div class="clearfix colelem" id="u5670-6"><!-- content -->
          <p>Shield Yourself from</p>
          <p>Tax Problems</p>
         </div>
         <div class="clearfix colelem" id="u5676-4"><!-- content -->
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
         </div>
        </div>
        <div class="clearfix grpelem" id="ppu5673"><!-- column -->
         <div class="clearfix colelem" id="pu5673"><!-- group -->
          <div class="clip_frame grpelem" id="u5673"><!-- image -->
           <img class="block" id="u5673_img" src="images/badge03_orange.png" alt="" width="150" height="150"/>
          </div>
          <div class="clearfix grpelem" id="u5677-8"><!-- content -->
           <p id="u5677-2">MAXIMUM</p>
           <p id="u5677-4">100%</p>
           <p id="u5677-6">GUARANTEED</p>
          </div>
         </div>
         <div class="clearfix colelem" id="u5679-6"><!-- content -->
          <p>Maximum Refund</p>
          <p>100% Guaranteed</p>
         </div>
         <div class="clearfix colelem" id="u5675-4"><!-- content -->
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
         </div>
        </div>
       </div>
       <div class="Container invi clearfix grpelem" id="u5681"><!-- group -->
        <div class="clearfix grpelem" id="ppu5693"><!-- column -->
         <div class="clearfix colelem" id="pu5693"><!-- group -->
          <div class="clip_frame grpelem" id="u5693"><!-- image -->
           <img class="block" id="u5693_img" src="images/badge01_blue.png" alt="" width="150" height="150"/>
          </div>
          <div class="clearfix grpelem" id="u5691-8"><!-- content -->
           <p id="u5691-2">MAXIMUM</p>
           <p id="u5691-4">REFUND</p>
           <p id="u5691-6">GUARANTEED</p>
          </div>
         </div>
         <div class="clearfix colelem" id="u5692-6"><!-- content -->
          <p>We search over</p>
          <p>300 tax deductions</p>
         </div>
         <div class="clearfix colelem" id="u5685-4"><!-- content -->
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
         </div>
        </div>
        <div class="clearfix grpelem" id="ppu5687"><!-- column -->
         <div class="clearfix colelem" id="pu5687"><!-- group -->
          <div class="clip_frame grpelem" id="u5687"><!-- image -->
           <img class="block" id="u5687_img" src="images/badge01_orange.png" alt="" width="150" height="150"/>
          </div>
          <div class="clearfix grpelem" id="u5686-8"><!-- content -->
           <p id="u5686-2">DOUBLE</p>
           <p id="u5686-4">CHECK</p>
           <p id="u5686-6">YOUR RETURN</p>
          </div>
         </div>
         <div class="clearfix colelem" id="u5683-6"><!-- content -->
          <p>We double check</p>
          <p>your tax return</p>
         </div>
         <div class="clearfix colelem" id="u5684-4"><!-- content -->
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
         </div>
        </div>
        <div class="clearfix grpelem" id="ppu5695"><!-- column -->
         <div class="clearfix colelem" id="pu5695"><!-- group -->
          <div class="clip_frame grpelem" id="u5695"><!-- image -->
           <img class="block" id="u5695_img" src="images/badge01_green.png" alt="" width="150" height="150"/>
          </div>
          <div class="clearfix grpelem" id="u5690-8"><!-- content -->
           <p id="u5690-2">AUDIT</p>
           <p id="u5690-4">SUPPORT</p>
           <p id="u5690-6">GUARANTEED</p>
          </div>
         </div>
         <div class="clearfix colelem" id="u5682-6"><!-- content -->
          <p>One&#45;on&#45;One Audit</p>
          <p>Guidance Support</p>
         </div>
         <div class="clearfix colelem" id="u5689-4"><!-- content -->
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
         </div>
        </div>
       </div>
       <div class="Container invi clearfix grpelem" id="u5697"><!-- group -->
        <div class="clearfix grpelem" id="ppu5702"><!-- column -->
         <div class="clearfix colelem" id="pu5702"><!-- group -->
          <div class="clip_frame grpelem" id="u5702"><!-- image -->
           <img class="block" id="u5702_img" src="images/badge02_blue.png" alt="" width="150" height="150"/>
          </div>
          <div class="clearfix grpelem" id="u5698-8"><!-- content -->
           <p id="u5698-2">EASY</p>
           <p id="u5698-4">&amp;</p>
           <p id="u5698-6">SECURE</p>
          </div>
         </div>
         <div class="clearfix colelem" id="u5708-6"><!-- content -->
          <p>Getting Help is</p>
          <p>Easy and Secure</p>
         </div>
         <div class="clearfix colelem" id="u5701-4"><!-- content -->
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
         </div>
        </div>
        <div class="clearfix grpelem" id="ppu5710"><!-- column -->
         <div class="clearfix colelem" id="pu5710"><!-- group -->
          <div class="clip_frame grpelem" id="u5710"><!-- image -->
           <img class="block" id="u5710_img" src="images/badge02_orange.png" alt="" width="150" height="150"/>
          </div>
          <div class="clearfix grpelem" id="u5705-6"><!-- content -->
           <p>SIMPLE</p>
           <p>PRICING</p>
          </div>
         </div>
         <div class="clearfix colelem" id="u5706-6"><!-- content -->
          <p>Doing your Tax Refund</p>
          <p>a Simple Way</p>
         </div>
         <div class="clearfix colelem" id="u5704-4"><!-- content -->
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
         </div>
        </div>
        <div class="clearfix grpelem" id="ppu5699"><!-- column -->
         <div class="clearfix colelem" id="pu5699"><!-- group -->
          <div class="clip_frame grpelem" id="u5699"><!-- image -->
           <img class="block" id="u5699_img" src="images/badge02_green.png" alt="" width="150" height="150"/>
          </div>
          <div class="clearfix grpelem" id="u5712-6"><!-- content -->
           <p id="u5712-2">OFFICIAL</p>
           <p id="u5712-4">QUALIFIED</p>
          </div>
         </div>
         <div class="clearfix colelem" id="u5707-6"><!-- content -->
          <p>IRS recommended</p>
          <p>security standards.</p>
         </div>
         <div class="clearfix colelem" id="u5709-4"><!-- content -->
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    
    
    <a class="anchor_item colelem" id="aboutus"></a>
    <div class="clearfix colelem" id="u3728-4"><!-- content -->
     <p>Why Choose 365 TAX EXPERT ?</p>
    </div>
    <div class="clearfix colelem" id="u3873-4"><!-- content -->
     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
    </div>
    <div class="clearfix colelem" id="pu3934"><!-- group -->
     <div class="clip_frame grpelem" id="u3934"><!-- image -->
      <img class="block" id="u3934_img" src="images/iconfeature_rocket.png" alt="" width="100" height="100"/>
     </div>
     <div class="clip_frame grpelem" id="u3894"><!-- image -->
      <img class="block" id="u3894_img" src="images/iconfeature_save.png" alt="" width="82" height="82"/>
     </div>
     <div class="clip_frame grpelem" id="u3878"><!-- image -->
      <img class="block" id="u3878_img" src="images/iconfeature_accurate.png" alt="" width="82" height="82"/>
     </div>
    </div>
    <div class="clearfix colelem" id="pu3932-4"><!-- group -->
     <div class="clearfix grpelem" id="u3932-4"><!-- content -->
      <p>FAST &amp; MAXIMUM</p>
     </div>
     <div class="clearfix grpelem" id="u3948-4"><!-- content -->
      <p>NO UP&#45;FRONT FEES</p>
     </div>
     <div class="clearfix grpelem" id="u3950-4"><!-- content -->
      <p>ACCURATE GUARANTEED</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu3933-4"><!-- group -->
     <div class="clearfix grpelem" id="u3933-4"><!-- content -->
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
     </div>
     <div class="clearfix grpelem" id="u3949-4"><!-- content -->
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
     </div>
     <div class="clearfix grpelem" id="u3951-4"><!-- content -->
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu3920"><!-- group -->
     <div class="clip_frame grpelem" id="u3920"><!-- image -->
      <img class="block" id="u3920_img" src="images/iconfeature_search.png" alt="" width="100" height="100"/>
     </div>
     <div class="clip_frame grpelem" id="u3884"><!-- image -->
      <img class="block" id="u3884_img" src="images/iconfeature_goodreview.png" alt="" width="82" height="82"/>
     </div>
     <div class="clip_frame grpelem" id="u3925"><!-- image -->
      <img class="block" id="u3925_img" src="images/iconfeature_team.png" alt="" width="100" height="100"/>
     </div>
    </div>
    <div class="clearfix colelem" id="pu3963-4"><!-- group -->
     <div class="clearfix grpelem" id="u3963-4"><!-- content -->
      <p>FIND EVERY DEDUCTION</p>
     </div>
     <div class="clearfix grpelem" id="u3960-4"><!-- content -->
      <p>100% SATISFACTION</p>
     </div>
     <div class="clearfix grpelem" id="u3959-4"><!-- content -->
      <p>TAX SPECIALIST</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu3962-4"><!-- group -->
     <div class="clearfix grpelem" id="u3962-4"><!-- content -->
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
     </div>
     <div class="clearfix grpelem" id="u3961-4"><!-- content -->
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
     </div>
     <div class="clearfix grpelem" id="u3958-4"><!-- content -->
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu3940"><!-- group -->
     <div class="clip_frame grpelem" id="u3940"><!-- image -->
      <img class="block" id="u3940_img" src="images/iconfeature_house.png" alt="" width="100" height="100"/>
     </div>
     <div class="clip_frame grpelem" id="u3899"><!-- image -->
      <img class="block" id="u3899_img" src="images/iconfeature_support.png" alt="" width="82" height="82"/>
     </div>
     <div class="clip_frame grpelem" id="u3914"><!-- image -->
      <img class="block" id="u3914_img" src="images/iconfeature_safe.png" alt="" width="100" height="100"/>
     </div>
    </div>
    <div class="clearfix colelem" id="pu3964-4"><!-- group -->
     <div class="clearfix grpelem" id="u3964-4"><!-- content -->
      <p>GUIDANCE FOR HOUSEOWENER</p>
     </div>
     <div class="clearfix grpelem" id="u3967-4"><!-- content -->
      <p>24/7&nbsp; FREE SUPPORT</p>
     </div>
     <div class="clearfix grpelem" id="u3968-4"><!-- content -->
      <p>FILING SAFETY GUARANTEED</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu3965-4"><!-- group -->
     <div class="clearfix grpelem" id="u3965-4"><!-- content -->
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
     </div>
     <div class="clearfix grpelem" id="u3966-4"><!-- content -->
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
     </div>
     <div class="clearfix grpelem" id="u3969-4"><!-- content -->
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu3824-4"><!-- group -->
     <div class="clearfix grpelem" id="u3824-4"><!-- content -->
      <p>TESTIMONIALS</p>
     </div>
     <div class="clearfix grpelem" id="u3829"><!-- group -->
      <div class="grpelem" id="u3828"><!-- simple frame --></div>
      <div class="grpelem" id="u3826"><!-- simple frame --></div>
     </div>
    </div>
    <div class="clearfix colelem" id="u3825-4"><!-- content -->
     <p>GREATEST COMMENTS</p>
    </div>
    <div class="PamphletWidget clearfix colelem" id="pamphletu3787"><!-- none box -->
     <div class="ThumbGroup clearfix grpelem" id="u3802"><!-- none box -->
      <div class="popup_anchor">
       <div class="Thumb popup_element rounded-corners" id="u3803"><!-- simple frame --></div>
      </div>
      <div class="popup_anchor">
       <div class="Thumb popup_element rounded-corners" id="u3805"><!-- simple frame --></div>
      </div>
      <div class="popup_anchor">
       <div class="Thumb popup_element rounded-corners" id="u3804"><!-- simple frame --></div>
      </div>
     </div>
     <div class="popup_anchor" id="u3790popup">
      <div class="ContainerGroup clearfix" id="u3790"><!-- stack box -->
       <div class="Container clearfix grpelem" id="u3794"><!-- column -->
        <div class="clearfix colelem" id="u3795-4"><!-- content -->
         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
        </div>
        <div class="rounded-corners colelem" id="u3796"><!-- simple frame --></div>
       </div>
       <div class="Container invi clearfix grpelem" id="u3797"><!-- column -->
        <div class="clearfix colelem" id="u3799-4"><!-- content -->
         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
        </div>
        <div class="rounded-corners colelem" id="u3798"><!-- simple frame --></div>
       </div>
       <div class="Container invi clearfix grpelem" id="u3791"><!-- column -->
        <div class="clearfix colelem" id="u3793-4"><!-- content -->
         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
        </div>
        <div class="rounded-corners colelem" id="u3792"><!-- simple frame --></div>
       </div>
      </div>
     </div>
    </div>
    <div class="browser_width colelem" id="u3786-bw">
     <div id="u3786"><!-- group -->
      <div class="clearfix" id="u3786_align_to_page">
       <div class="clip_frame grpelem" id="u3831"><!-- image -->
        <img class="block" id="u3831_img" src="images/logo-sample.jpg" alt="" width="150" height="60"/>
       </div>
       <div class="clip_frame grpelem" id="u3837"><!-- image -->
        <img class="block" id="u3837_img" src="images/logo-sample.jpg" alt="" width="150" height="60"/>
       </div>
       <div class="clip_frame grpelem" id="u3849"><!-- image -->
        <img class="block" id="u3849_img" src="images/logo-sample.jpg" alt="" width="150" height="60"/>
       </div>
       <div class="clip_frame grpelem" id="u3867"><!-- image -->
        <img class="block" id="u3867_img" src="images/logo-sample.jpg" alt="" width="150" height="60"/>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu3687"><!-- group -->
     <div class="browser_width grpelem" id="u3687-bw">
      <div id="u3687"><!-- group -->
       <div class="clearfix" id="u3687_align_to_page">
        <a class="anchor_item grpelem" id="service"></a>
        <div class="clearfix grpelem" id="pu3709"><!-- column -->
         <div class="clip_frame colelem" id="u3709"><!-- image -->
          <img class="block" id="u3709_img" src="images/icon_cup.png" alt="" width="65" height="65"/>
         </div>
         <div class="clearfix colelem" id="u3689-6"><!-- content -->
          <p>CUPS OF</p>
          <p>COFFEE</p>
         </div>
        </div>
        <div class="clearfix grpelem" id="pu3720"><!-- column -->
         <div class="clip_frame colelem" id="u3720"><!-- image -->
          <img class="block" id="u3720_img" src="images/icon_thumbnail.png" alt="" width="65" height="65"/>
         </div>
         <div class="clearfix colelem" id="u3697-4"><!-- content -->
          <p>1550</p>
         </div>
        </div>
        <div class="clearfix grpelem" id="pu3703"><!-- column -->
         <div class="clip_frame colelem" id="u3703"><!-- image -->
          <img class="block" id="u3703_img" src="images/icon_solved.png" alt="" width="65" height="65"/>
         </div>
         <div class="clearfix colelem" id="u3698-4"><!-- content -->
          <p>4650</p>
         </div>
        </div>
        <div class="clearfix grpelem" id="pu3715"><!-- column -->
         <div class="clip_frame colelem" id="u3715"><!-- image -->
          <img class="block" id="u3715_img" src="images/icon_project.png" alt="" width="65" height="65"/>
         </div>
         <div class="clearfix colelem" id="u3700-4"><!-- content -->
          <p>770</p>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u3696-4"><!-- content -->
      <p>850</p>
     </div>
     <div class="clearfix grpelem" id="u3691-6"><!-- content -->
      <p>CLIENTS</p>
      <p>WORKED</p>
     </div>
     <div class="clearfix grpelem" id="u3693-6"><!-- content -->
      <p>SOLVED</p>
      <p>PROBLEMS</p>
     </div>
     <div class="clearfix grpelem" id="u3694-6"><!-- content -->
      <p>PROJECT</p>
      <p>COMPLETED</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu3610"><!-- group -->
     <div class="browser_width grpelem" id="u3610-bw">
      <div id="u3610"><!-- column -->
       <div class="clearfix" id="u3610_align_to_page">
        <div class="clearfix colelem" id="u3474-4"><!-- content -->
         <p>TAX SERVICES</p>
        </div>
        <div class="colelem" id="u3656"><!-- simple frame --></div>
        <div class="clearfix colelem" id="pu3668"><!-- group -->
         <div class="rounded-corners grpelem" id="u3668"><!-- simple frame --></div>
         <div class="clearfix grpelem" id="u3659-5"><!-- content -->
          <p id="u3659-3"><span id="u3659">TAX SPECIALIST :&nbsp; </span><span id="u3659-2">Lucica Katzeline</span></p>
         </div>
        </div>
        <div class="clearfix colelem" id="pu3676"><!-- group -->
         <div class="rounded-corners grpelem" id="u3676"><!-- simple frame --></div>
         <div class="clearfix grpelem" id="u3665-5"><!-- content -->
          <p id="u3665-3"><span id="u3665">TAX SPECIALIST :&nbsp; </span><span id="u3665-2">Edward Luicssen</span></p>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="PamphletWidget clearfix grpelem" id="pamphletu3387"><!-- none box -->
      <div class="popup_anchor" id="u3388popup">
       <div class="ContainerGroup clearfix" id="u3388"><!-- stack box -->
        <div class="Container clearfix grpelem" id="u3389"><!-- group -->
         <div class="clearfix grpelem" id="u5235-12"><!-- content -->
          <p id="u5235-2">Planning Your Tax Easily</p>
          <p id="u5235-6">Sit amet, consectetur adipiscing elit. Aenean consectetur suscipit viverra. Morbi <span id="u5235-4">non a</span>rcu blandit justo pellentesque condimentum. Integer dignissim risus quis felis accumsan quis pulvinar tellus fermentum.</p>
          <p id="u5235-10">Sit amet, consectetur adipiscing elit. Aenean consectetur suscipit viverra. Morbi <span id="u5235-8">non a</span>rcu blandit justo pellentesque condimentum. Integer dignissim risus quis felis accumsan quis pulvinar tellus fermentum.</p>
         </div>
         <div class="rounded-corners grpelem" id="u5236"><!-- simple frame --></div>
        </div>
        <div class="Container invi clearfix grpelem" id="u3437"><!-- group -->
         <div class="clearfix grpelem" id="u5233-12"><!-- content -->
          <p id="u5233-2">Leave All the Technical Things to Us</p>
          <p id="u5233-6">Sit amet, consectetur adipiscing elit. Aenean consectetur suscipit viverra. Morbi <span id="u5233-4">non a</span>rcu blandit justo pellentesque condimentum. Integer dignissim risus quis felis accumsan quis pulvinar tellus fermentum.</p>
          <p id="u5233-10">Sit amet, consectetur adipiscing elit. Aenean consectetur suscipit viverra. Morbi <span id="u5233-8">non a</span>rcu blandit justo pellentesque condimentum. Integer dignissim risus quis felis accumsan quis pulvinar tellus fermentum.</p>
         </div>
         <div class="rounded-corners grpelem" id="u5234"><!-- simple frame --></div>
        </div>
        <div class="Container invi clearfix grpelem" id="u3442"><!-- group -->
         <div class="clearfix grpelem" id="u5237-12"><!-- content -->
          <p id="u5237-2">Contact Us Now for a Free Advisory</p>
          <p id="u5237-6">Sit amet, consectetur adipiscing elit. Aenean consectetur suscipit viverra. Morbi <span id="u5237-4">non a</span>rcu blandit justo pellentesque condimentum. Integer dignissim risus quis felis accumsan quis pulvinar tellus fermentum.</p>
          <p id="u5237-10">Sit amet, consectetur adipiscing elit. Aenean consectetur suscipit viverra. Morbi <span id="u5237-8">non a</span>rcu blandit justo pellentesque condimentum. Integer dignissim risus quis felis accumsan quis pulvinar tellus fermentum.</p>
         </div>
         <div class="rounded-corners grpelem" id="u5238"><!-- simple frame --></div>
        </div>
        <div class="Container invi clearfix grpelem" id="u3446"><!-- group -->
         <div class="clearfix grpelem" id="u5239-12"><!-- content -->
          <p id="u5239-2">IRS Recommended Specialists</p>
          <p id="u5239-6">Sit amet, consectetur adipiscing elit. Aenean consectetur suscipit viverra. Morbi <span id="u5239-4">non a</span>rcu blandit justo pellentesque condimentum. Integer dignissim risus quis felis accumsan quis pulvinar tellus fermentum.</p>
          <p id="u5239-10">Sit amet, consectetur adipiscing elit. Aenean consectetur suscipit viverra. Morbi <span id="u5239-8">non a</span>rcu blandit justo pellentesque condimentum. Integer dignissim risus quis felis accumsan quis pulvinar tellus fermentum.</p>
         </div>
         <div class="rounded-corners grpelem" id="u5240"><!-- simple frame --></div>
        </div>
        <div class="Container invi clearfix grpelem" id="u3454"><!-- group -->
         <div class="clearfix grpelem" id="u5241-12"><!-- content -->
          <p id="u5241-2">Boosting Up Your Business</p>
          <p id="u5241-6">Sit amet, consectetur adipiscing elit. Aenean consectetur suscipit viverra. Morbi <span id="u5241-4">non a</span>rcu blandit justo pellentesque condimentum. Integer dignissim risus quis felis accumsan quis pulvinar tellus fermentum.</p>
          <p id="u5241-10">Sit amet, consectetur adipiscing elit. Aenean consectetur suscipit viverra. Morbi <span id="u5241-8">non a</span>rcu blandit justo pellentesque condimentum. Integer dignissim risus quis felis accumsan quis pulvinar tellus fermentum.</p>
         </div>
         <div class="rounded-corners grpelem" id="u5242"><!-- simple frame --></div>
        </div>
        <div class="Container invi clearfix grpelem" id="u3458"><!-- group -->
         <div class="clearfix grpelem" id="u5243-12"><!-- content -->
          <p id="u5243-2">Achieve Successful Business</p>
          <p id="u5243-6">Sit amet, consectetur adipiscing elit. Aenean consectetur suscipit viverra. Morbi <span id="u5243-4">non a</span>rcu blandit justo pellentesque condimentum. Integer dignissim risus quis felis accumsan quis pulvinar tellus fermentum.</p>
          <p id="u5243-10">Sit amet, consectetur adipiscing elit. Aenean consectetur suscipit viverra. Morbi <span id="u5243-8">non a</span>rcu blandit justo pellentesque condimentum. Integer dignissim risus quis felis accumsan quis pulvinar tellus fermentum.</p>
         </div>
         <div class="rounded-corners grpelem" id="u5244"><!-- simple frame --></div>
        </div>
       </div>
      </div>
      <div class="ThumbGroup clearfix grpelem" id="u3408"><!-- none box -->
       <div class="popup_anchor">
        <div class="Thumb popup_element clearfix" id="u3413"><!-- group -->
         <div class="clearfix grpelem" id="u3436-4"><!-- content -->
          <p>Tax Planning &amp;&nbsp; Preparation</p>
         </div>
        </div>
       </div>
       <div class="popup_anchor">
        <div class="Thumb popup_element clearfix" id="u3439"><!-- group -->
         <div class="clearfix grpelem" id="u3441-4"><!-- content -->
          <p>Accounting &amp; Bookkeeping</p>
         </div>
        </div>
       </div>
       <div class="popup_anchor">
        <div class="Thumb popup_element clearfix" id="u3443"><!-- group -->
         <div class="clearfix grpelem" id="u3445-4"><!-- content -->
          <p>Free Consultation &amp; Advisory</p>
         </div>
        </div>
       </div>
       <div class="popup_anchor">
        <div class="Thumb popup_element clearfix" id="u3447"><!-- group -->
         <div class="clearfix grpelem" id="u3449-4"><!-- content -->
          <p>IRS Problem Resolution</p>
         </div>
        </div>
       </div>
       <div class="popup_anchor">
        <div class="Thumb popup_element clearfix" id="u3455"><!-- group -->
         <div class="clearfix grpelem" id="u3457-4"><!-- content -->
          <p>Cash Flow Management</p>
         </div>
        </div>
       </div>
       <div class="popup_anchor">
        <div class="Thumb popup_element clearfix" id="u3459"><!-- group -->
         <div class="clearfix grpelem" id="u3461-4"><!-- content -->
          <p>New Business Formation</p>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u3657-4"><!-- content -->
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
     </div>
     <div class="clearfix grpelem" id="u3666-4"><!-- content -->
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
     </div>
     <div class="rounded-corners grpelem" id="u5297"><!-- simple frame --></div>
     <div class="rounded-corners grpelem" id="u5340"><!-- simple frame --></div>
     <div class="rounded-corners grpelem" id="u5311"><!-- simple frame --></div>
     <div class="rounded-corners grpelem" id="u5339"><!-- simple frame --></div>
     <div class="rounded-corners grpelem" id="u5319"><!-- simple frame --></div>
     <div class="rounded-corners grpelem" id="u5338"><!-- simple frame --></div>
     <div class="rounded-corners grpelem" id="u5326"><!-- simple frame --></div>
     <div class="rounded-corners grpelem" id="u5337"><!-- simple frame --></div>
    </div>
    <a class="anchor_item colelem" id="contact"></a>
    <div class="clearfix colelem" id="u3278-4"><!-- content -->
     <p>We're Standing by 24/7</p>
    </div>
    <div class="clearfix colelem" id="pu3287"><!-- group -->
     <div class="rounded-corners grpelem" id="u3287"><!-- simple frame --></div>
     <div class="rounded-corners grpelem" id="u3294"><!-- simple frame --></div>
     <div class="Button rounded-corners clearfix grpelem" id="buttonu3302"><!-- container box -->
      <div class="clearfix grpelem" id="u3304-4"><!-- content -->
       <p id="u3304-2">Live Chat</p>
      </div>
      <div class="grpelem" id="u3322"><!-- simple frame --></div>
     </div>
     <div class="Button rounded-corners clearfix grpelem" id="buttonu3332"><!-- container box -->
      <div class="clearfix grpelem" id="u3334-4"><!-- content -->
       <p id="u3334-2">Call Us !</p>
      </div>
      <div class="grpelem" id="u3333"><!-- simple frame --></div>
     </div>
     <div class="Button rounded-corners clearfix grpelem" id="buttonu3338"><!-- container box -->
      <div class="clearfix grpelem" id="u3339-4"><!-- content -->
       <p id="u3339-2">Mail to Us</p>
      </div>
      <div class="grpelem" id="u3340"><!-- simple frame --></div>
     </div>
    </div>
    <div class="clearfix colelem" id="pbuttonu5488"><!-- group -->
     <div class="Button clearfix grpelem" id="buttonu5488"><!-- container box -->
      <div class="rounded-corners grpelem" id="u5490"><!-- simple frame --></div>
      <div class="clearfix grpelem" id="u5489-6"><!-- content -->
       <p>FACEBOOK:</p>
       <p>facebookusername</p>
      </div>
     </div>
     <div class="Button clearfix grpelem" id="buttonu5479"><!-- container box -->
      <div class="rounded-corners grpelem" id="u5480"><!-- simple frame --></div>
      <div class="clearfix grpelem" id="u5481-6"><!-- content -->
       <p>CALL US :</p>
       <p>(212) 789&#45;522&#45;012</p>
      </div>
     </div>
     <div class="Button clearfix grpelem" id="buttonu5457"><!-- container box -->
      <div class="rounded-corners grpelem" id="u5469"><!-- simple frame --></div>
      <div class="clearfix grpelem" id="u5466-6"><!-- content -->
       <p>MAIL TO US :</p>
       <p>nonprofit@mail.com</p>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pbuttonu5500"><!-- group -->
     <div class="Button clearfix grpelem" id="buttonu5500"><!-- container box -->
      <div class="rounded-corners grpelem" id="u5502"><!-- simple frame --></div>
      <div class="clearfix grpelem" id="u5501-6"><!-- content -->
       <p>TWITTER:</p>
       <p>@nonprofitmusetheme</p>
      </div>
     </div>
     <div class="Button clearfix grpelem" id="buttonu5503"><!-- container box -->
      <div class="rounded-corners grpelem" id="u5505"><!-- simple frame --></div>
      <div class="clearfix grpelem" id="u5504-6"><!-- content -->
       <p>LINKEDIN:</p>
       <p>BusinessLinkedIn Information</p>
      </div>
     </div>
     <div class="Button clearfix grpelem" id="buttonu5470"><!-- container box -->
      <div class="rounded-corners grpelem" id="u5471"><!-- simple frame --></div>
      <div class="clearfix grpelem" id="u5472-6"><!-- content -->
       <p>HEADQUARTER OFFICE</p>
       <p>ST.920 South Avenue 002211</p>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="u5010-4"><!-- content -->
     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </div>
    <div class="clearfix colelem" id="u5405"><!-- group -->
     <div class="clip_frame grpelem" id="u5375"><!-- image -->
      <img class="block" id="u5375_img" src="images/icon-star.png" alt="" width="24" height="24"/>
     </div>
     <div class="clip_frame grpelem" id="u5384"><!-- image -->
      <img class="block" id="u5384_img" src="images/icon-star.png" alt="" width="24" height="24"/>
     </div>
     <div class="clip_frame grpelem" id="u5390"><!-- image -->
      <img class="block" id="u5390_img" src="images/icon-star.png" alt="" width="24" height="24"/>
     </div>
     <div class="clip_frame grpelem" id="u5396"><!-- image -->
      <img class="block" id="u5396_img" src="images/icon-star.png" alt="" width="24" height="24"/>
     </div>
     <div class="clip_frame grpelem" id="u5402"><!-- image -->
      <img class="block" id="u5402_img" src="images/icon-star.png" alt="" width="24" height="24"/>
     </div>
    </div>
    <div class="clearfix colelem" id="pu1385"><!-- group -->
     <div class="browser_width grpelem" id="u1385-bw">
      <div id="u1385"><!-- column -->
       <div class="clearfix" id="u1385_align_to_page">
        <a class="anchor_item colelem" id="consultation"></a>
        <div class="clearfix colelem" id="u4990-4"><!-- content -->
         <p>Get a Free Consultation</p>
        </div>
        <div class="clearfix colelem" id="u4999"><!-- column -->
         <div class="colelem" id="u4998"><!-- simple frame --></div>
         <div class="clip_frame colelem" id="u4992"><!-- image -->
          <img class="block" id="u4992_img" src="images/triangle-shape.png" alt="" width="27" height="14"/>
         </div>
        </div>
        <div class="clearfix colelem" id="u3211-4"><!-- content -->
         <p>Frequently Asked Questions</p>
        </div>
        <div class="clearfix colelem" id="u5005"><!-- column -->
         <div class="colelem" id="u5008"><!-- simple frame --></div>
         <div class="clip_frame colelem" id="u5006"><!-- image -->
          <img class="block" id="u5006_img" src="images/triangle-shape.png" alt="" width="27" height="14"/>
         </div>
        </div>
        <ul class="AccordionWidget clearfix colelem" id="accordionu3212"><!-- vertical box -->
         <li class="AccordionPanel clearfix colelem" id="u3233"><!-- vertical box -->
          <div class="AccordionPanelTab clearfix colelem" id="u3234-4"><!-- content -->
           <p id="u3234-2">How to Get Started?</p>
          </div>
          <div class="AccordionPanelContent disn rounded-corners clearfix colelem" id="u3235"><!-- group -->
           <div class="clearfix grpelem" id="u5249-6"><!-- content -->
            <p>Dolor sit amet, consectetur adipiscing elit. Aliquam vitae fringilla augue. Maecenas in lectus lorem. In et accumsan mi. Aenean vestibulum nisl eu arcu viverra iaculis. In hac habitasse platea dictumst. In vehicula diam et mauris imperdiet aliquet.</p>
            <p id="u5249-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
           </div>
          </div>
         </li>
         <li class="AccordionPanel clearfix colelem" id="u3221"><!-- vertical box -->
          <div class="AccordionPanelTab clearfix colelem" id="u3224-4"><!-- content -->
           <p id="u3224-2">Which Product is Right for Me?</p>
          </div>
          <div class="AccordionPanelContent disn rounded-corners clearfix colelem" id="u3222"><!-- group -->
           <div class="clearfix grpelem" id="u5248-6"><!-- content -->
            <p>Dolor sit amet, consectetur adipiscing elit. Aliquam vitae fringilla augue. Maecenas in lectus lorem. In et accumsan mi. Aenean vestibulum nisl eu arcu viverra iaculis. In hac habitasse platea dictumst. In vehicula diam et mauris imperdiet aliquet.</p>
            <p id="u5248-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
           </div>
          </div>
         </li>
         <li class="AccordionPanel clearfix colelem" id="u3225"><!-- vertical box -->
          <div class="AccordionPanelTab clearfix colelem" id="u3228-4"><!-- content -->
           <p id="u3228-2">Why Choose MaxRefunds?</p>
          </div>
          <div class="AccordionPanelContent disn rounded-corners clearfix colelem" id="u3226"><!-- group -->
           <div class="clearfix grpelem" id="u5250-6"><!-- content -->
            <p>Dolor sit amet, consectetur adipiscing elit. Aliquam vitae fringilla augue. Maecenas in lectus lorem. In et accumsan mi. Aenean vestibulum nisl eu arcu viverra iaculis. In hac habitasse platea dictumst. In vehicula diam et mauris imperdiet aliquet.</p>
            <p id="u5250-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
           </div>
          </div>
         </li>
         <li class="AccordionPanel clearfix colelem" id="u3229"><!-- vertical box -->
          <div class="AccordionPanelTab clearfix colelem" id="u3232-4"><!-- content -->
           <p id="u3232-2">What If I Make a Mistake?</p>
          </div>
          <div class="AccordionPanelContent disn rounded-corners clearfix colelem" id="u3230"><!-- group -->
           <div class="clearfix grpelem" id="u5251-6"><!-- content -->
            <p>Dolor sit amet, consectetur adipiscing elit. Aliquam vitae fringilla augue. Maecenas in lectus lorem. In et accumsan mi. Aenean vestibulum nisl eu arcu viverra iaculis. In hac habitasse platea dictumst. In vehicula diam et mauris imperdiet aliquet.</p>
            <p id="u5251-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
           </div>
          </div>
         </li>
         <li class="AccordionPanel clearfix colelem" id="u3213"><!-- vertical box -->
          <div class="AccordionPanelTab clearfix colelem" id="u3214-4"><!-- content -->
           <p id="u3214-2">How Quickly Can I Get My Refunds?</p>
          </div>
          <div class="AccordionPanelContent disn rounded-corners clearfix colelem" id="u3215"><!-- group -->
           <div class="clearfix grpelem" id="u5252-6"><!-- content -->
            <p>Dolor sit amet, consectetur adipiscing elit. Aliquam vitae fringilla augue. Maecenas in lectus lorem. In et accumsan mi. Aenean vestibulum nisl eu arcu viverra iaculis. In hac habitasse platea dictumst. In vehicula diam et mauris imperdiet aliquet.</p>
            <p id="u5252-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
           </div>
          </div>
         </li>
         <li class="AccordionPanel clearfix colelem" id="u3217"><!-- vertical box -->
          <div class="AccordionPanelTab clearfix colelem" id="u3220-4"><!-- content -->
           <p id="u3220-2">Document Preparation &amp; Filing</p>
          </div>
          <div class="AccordionPanelContent disn rounded-corners clearfix colelem" id="u3218"><!-- group -->
           <div class="clearfix grpelem" id="u5253-6"><!-- content -->
            <p>Dolor sit amet, consectetur adipiscing elit. Aliquam vitae fringilla augue. Maecenas in lectus lorem. In et accumsan mi. Aenean vestibulum nisl eu arcu viverra iaculis. In hac habitasse platea dictumst. In vehicula diam et mauris imperdiet aliquet.</p>
            <p id="u5253-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
           </div>
          </div>
         </li>
         <li class="AccordionPanel clearfix colelem" id="u3237"><!-- vertical box -->
          <div class="AccordionPanelTab clearfix colelem" id="u3240-4"><!-- content -->
           <p id="u3240-2">Tax Refunds Resource Center</p>
          </div>
          <div class="AccordionPanelContent disn rounded-corners clearfix colelem" id="u3238"><!-- group -->
           <div class="clearfix grpelem" id="u5254-6"><!-- content -->
            <p>Dolor sit amet, consectetur adipiscing elit. Aliquam vitae fringilla augue. Maecenas in lectus lorem. In et accumsan mi. Aenean vestibulum nisl eu arcu viverra iaculis. In hac habitasse platea dictumst. In vehicula diam et mauris imperdiet aliquet.</p>
            <p id="u5254-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
           </div>
          </div>
         </li>
        </ul>
       </div>
      </div>
     </div>
     <form class="form-grp clearfix grpelem" id="widgetu4964" method="post" enctype="multipart/form-data" action="scripts/form-u4964.php"><!-- none box -->
      <div class="fld-grp clearfix grpelem" id="widgetu4978" data-required="true"><!-- none box -->
       <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u4981-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu4978_input" name="custom_U4978" tabindex="3"/><label class="wrapped-input fld-prompt" id="widgetu4978_prompt" for="widgetu4978_input"><span class="actAsPara">Enter Name</span></label></span>
      </div>
      <div class="fld-grp clearfix grpelem" id="widgetu4974" data-required="true" data-type="email"><!-- none box -->
       <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u4976-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu4974_input" name="Email" tabindex="4"/><label class="wrapped-input fld-prompt" id="widgetu4974_prompt" for="widgetu4974_input"><span class="actAsPara">Enter Email</span></label></span>
      </div>
      <div class="clearfix grpelem" id="u4984-4"><!-- content -->
       <p>Submitting Form...</p>
      </div>
      <div class="clearfix grpelem" id="u4982-4"><!-- content -->
       <p>The server encountered an error.</p>
      </div>
      <div class="clearfix grpelem" id="u4983-4"><!-- content -->
       <p>Form received.</p>
      </div>
      <input class="submit-btn NoWrap grpelem" id="u4973-17" type="submit" value="" tabindex="8"/><!-- state-based BG images -->
      <div class="fld-grp clearfix grpelem" id="widgetu4969" data-required="false"><!-- none box -->
       <span class="fld-textarea actAsDiv clearfix grpelem" id="u4970-4"><!-- content --><textarea class="wrapped-input" id="widgetu4969_input" name="custom_U4969" tabindex="7"></textarea><label class="wrapped-input fld-prompt" id="widgetu4969_prompt" for="widgetu4969_input"><span class="actAsPara">Please Describe Your Situation</span></label></span>
      </div>
      <div class="fld-grp clearfix grpelem" id="widgetu4965" data-required="true"><!-- none box -->
       <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u4968-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu4965_input" name="custom_U4965" tabindex="5"/><label class="wrapped-input fld-prompt" id="widgetu4965_prompt" for="widgetu4965_input"><span class="actAsPara">Enter Phone Number</span></label></span>
      </div>
      <div class="fld-grp clearfix grpelem" id="widgetu4985" data-required="true"><!-- none box -->
       <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u4988-4"><!-- content --><input class="wrapped-input" type="text" id="widgetu4985_input" name="custom_U4985" tabindex="6"/><label class="wrapped-input fld-prompt" id="widgetu4985_prompt" for="widgetu4985_input"><span class="actAsPara">Amount Owed</span></label></span>
      </div>
     </form>
    </div>
    <div class="verticalspacer"></div>
    <div class="clearfix colelem" id="pu5524"><!-- group -->
     <a class="nonblock nontext anim_swing grpelem" id="u5524" href="index.html#welcome"><!-- simple frame --></a>
     <div class="browser_width grpelem" id="u857-bw">
      <div id="u857"><!-- column -->
       <div class="clearfix" id="u857_align_to_page">
        <nav class="MenuBar clearfix colelem" id="menuu3613"><!-- horizontal box -->
         <div class="MenuItemContainer clearfix grpelem" id="u3635"><!-- vertical box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u3636" href="index.html#welcome"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u3639-4"><!-- content --><p>HOME</p></div></a>
         </div>
         <div class="MenuItemContainer clearfix grpelem" id="u3642"><!-- vertical box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u3645" href="index.html#howitworks"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u3646-4"><!-- content --><p>HOW IT WORKS</p></div></a>
         </div>
         <div class="MenuItemContainer clearfix grpelem" id="u3614"><!-- vertical box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u3615" href="index.html#pricing"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u3616-4"><!-- content --><p>PRICING</p></div></a>
         </div>
         <div class="MenuItemContainer clearfix grpelem" id="u3621"><!-- vertical box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u3624" href="index.html#aboutus"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u3625-4"><!-- content --><p>WHY MAXTAX</p></div></a>
         </div>
         <div class="MenuItemContainer clearfix grpelem" id="u3649"><!-- vertical box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u3652" href="index.html#service"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u3654-4"><!-- content --><p>SERVICE</p></div></a>
         </div>
         <div class="MenuItemContainer clearfix grpelem" id="u3628"><!-- vertical box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u3631" href="index.html#contact"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u3633-4"><!-- content --><p>SUPPORT</p></div></a>
         </div>
        </nav>
        <div class="clearfix colelem" id="u835-6"><!-- content -->
         <p>© 2015 &#45; 365TAXEXPERT.COM&#45; </p>
         <p>MAXIMUM TAX REFUND SERVICE</p>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="preload_images">
   <img class="preload" src="images/icon_circle02.png" alt=""/>
   <img class="preload" src="images/u3777-17-r.png" alt=""/>
   <img class="preload" src="images/u3777-17-m.png" alt=""/>
   <img class="preload" src="images/u3777-17-fs.png" alt=""/>
   <img class="preload" src="images/socialicon-facebook02.png" alt=""/>
   <img class="preload" src="images/socialicon-twitter02.png" alt=""/>
   <img class="preload" src="images/socialicon-linkedin02.png" alt=""/>
   <img class="preload" src="images/socialicon-googleplus02.png" alt=""/>
   <img class="preload" src="images/icon_circle.png" alt=""/>
   <img class="preload" src="images/icon_chat.png" alt=""/>
   <img class="preload" src="images/icon_calling.png" alt=""/>
   <img class="preload" src="images/icon_mail.png" alt=""/>
   <img class="preload" src="images/socialicon-facebook.png" alt=""/>
   <img class="preload" src="images/socialicon-phone.png" alt=""/>
   <img class="preload" src="images/socialicon-mail.png" alt=""/>
   <img class="preload" src="images/socialicon-twitter.png" alt=""/>
   <img class="preload" src="images/socialicon-linkedin.png" alt=""/>
   <img class="preload" src="images/socialicon-address.png" alt=""/>
   <img class="preload" src="images/accordion_start.png" alt=""/>
   <img class="preload" src="images/accordion_start2.png" alt=""/>
   <img class="preload" src="images/accordion_idea.png" alt=""/>
   <img class="preload" src="images/accordion_idea2.png" alt=""/>
   <img class="preload" src="images/accordion_feature.png" alt=""/>
   <img class="preload" src="images/accordion_feature2.png" alt=""/>
   <img class="preload" src="images/accordion_staff.png" alt=""/>
   <img class="preload" src="images/accordion_staff2.png" alt=""/>
   <img class="preload" src="images/accordion_time.png" alt=""/>
   <img class="preload" src="images/accordion_time2.png" alt=""/>
   <img class="preload" src="images/accordion_filing.png" alt=""/>
   <img class="preload" src="images/accordion_filing2.png" alt=""/>
   <img class="preload" src="images/accordion_source.png" alt=""/>
   <img class="preload" src="images/accordion_source2.png" alt=""/>
   <img class="preload" src="images/u4973-17-r.png" alt=""/>
   <img class="preload" src="images/u4973-17-m.png" alt=""/>
   <img class="preload" src="images/u4973-17-fs.png" alt=""/>
   <img class="preload" src="images/back-to-top-arrow02.png" alt=""/>
  </div>

    {% include footer.html %}

  </body>

</html>
