<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="container">
  <!-- +++ Intro Section ++++ -->
    <section class="intro">
      <div class="bg-overlay"></div>
      <!-- Fullscreen Background Slider Images -->
    <div id="maximage">
        <img src="img/slide-one.jpg" alt="">
        <img src="img/slide-two.jpg" alt="">
    </div>
    
    <!-- ====+++ Intro Section Content +++==== -->
    <div class="center-content">      
      <div class="intro-content text-center"> 
        <!-- Logo -->               
        <div class="logo">
          <h2 class="text-logo"><img src="img/logo.gif" /></h2>
        </div><!-- /End logo -->              
        <!-- ==== Main Heading ==== -->                       
        <h1 class="intro-title">365 <span class="obak">Tax</span> Experts</h1>                     
        
        <!-- ==== Intro Section Sub-Heading ==== -->
        
        <div class="intro-subtitle">
          <p>Tax services in Miami, Fort Lauderdale and Palm Beaches 365 days</p>
        </div>              
            
      </div> <!-- /End Intro Section Content -->
    </div>
    <!-- ==== Intro Section Bottom Content ==== -->
    <div class="container-bottom-content">          
      <!-- ==== Copyrights ==== -->
      <div class="copyright">
        <p class="text-center">&copy; 2015. All Rights Reserved 365TaxExpert</p>
      </div> <!-- /End Copyrights -->
    </div> <!-- /End Intro Section Bottom Content --> 

  </section><!-- /end intro section -->
</div> 

    {% include footer.html %}

  </body>

</html>
